# yaml-language-server: $schema=../schema/muppy_sunray_worker_config_schema.json
version: 1
users:
  alice:
    pubkey: |
      # ED25519 public key (base64, 32 bytes)
      MCowBQYDK2VwAyEA2s+hGBZhCrd0HV9tSzw8j2CEnskVtM0tEz0+kUsAbl4=
  bob:
    pubkey: |
      # ED25519 public key
      MCowBQYDK2VwAyEAvNnX59YBlEG+LqpRAAnz2zPtSNiNNouhFDpGSpKXv4A=
  charlie:
    pubkey: |
      # ED25519 public key
      MCowBQYDK2VwAyEAZxM9pX0qWZB9hFJ1L3QkV7yX+vNfYz3JvT0Q5Z8Wc=

hosts:
  - domain: "mpy13c-k8s-dev-cyril.muppy.cloud"
    protected: true
    authorized_users:
      - alice
      - bob
    allowed_ips:
      - "192.168.0.1"
      - "2001:db8::1"
    allowed_paths:
      - pattern: "^/webhook/gitlab$"
        auth:
          type: "open"
      - pattern: "^/webhook/github$"
        auth:
          type: "header"
          name: "X-GitHub-Token"
          value: "mysecretgithubtoken"
      - pattern: "^/api/data$"
        auth:
          type: "query_param"
          name: "access_key"
          value: "apikey123"
